<h1 class="movie-details">Add a movie!</h1>

<div class="movie-card">
  <form class="add-movie" action="add-movie" method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="genre" placeholder="Genre">
    <input type="text" name="year" placeholder="Year">
    <input type="text" name="director" placeholder="Director">
    <input type="text" name="duration" placeholder="Duration">
    <input type="text" name="rate" placeholder="Rate">
    <select name="celebrities" multiple={{celebrities.length}}>
      {{#each celebrities}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
    <div class="button-container">
      <button class="button" type="submit">Add</button>
    </div>
  </form>
</div>