<nav class="nav-bar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/movies">All movies</a></li>
    <li><a href="/add-movie">Add a movie!</a></li>
    <li><a href="/search-movie">Search movies</a></li>
    <li><a href="/celebrities">All celebrities</a></li>
    <li><a href="/add-celebrity">Add a celebrity!</a></li>
  </ul>
</nav>